@{
    ViewBag.CurrentPage = "Home";
}
<div>
    <h1>Welcome to ASP.NET Boilerplate</h1>
    <p class="lead">A starting point for web applications with best practices and most popular tools!</p>
    <div class="row">
        <div class="col-md-4">
            <h3>Architecture</h3>
            <p>
                ASP.NET Boilerplate implements <strong>NLayer architecture</strong> and <strong>Domain Driven Design</strong>.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Frameworks</h3>
            <p>
                ASP.NET Boilerplate is built on latest <strong>ASP.NET MVC</strong> &amp; <strong>Web API</strong> technologies. 
                Uses Castle Windsor as Dependency Injection Container, NHibernate as O/RM framework, Log4Net for logging, FluentMigrator for database migrations and so on.
                Also, in client side, uses DurandalJs, KnockoutJs, jQuery, RequireJs, Less for CSS.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Best Practices</h3>
            <p>
                ASP.NET Boilerplate implements and provides a good infrastructure to implement Best Practices such as <strong>Dependency Injection</strong>.
            </p>
        </div>
    </div>
</div>