@{
    ViewBag.CurrentPage = "Documents";
}
<div>
    <h2>ASP.NET Boilerplate Documents</h2>
    <p>
        ASP.NET Boilerplate is a new framework. Documentations are being prapered and will be linked here. Follow it...
    </p>
</div>