@{
    ViewBag.CurrentPage = "Documents";
}
<div>
    <h2>ASP.NET Boilerplate Documents</h2>
    <ul>
        <li>
            <a href="http://www.codeproject.com/Articles/768664/Introduction-to-ASP-NET-Boilerplate">Introduction to ASP.NET Boilerplate</a>
        </li>
    </ul>
</div>