@{
    ViewBag.CurrentPage = "Documents";
}
<div>
    <h2>ASP.NET Boilerplate Documents</h2>
    <p>
        <a href="@Url.Action("IntroductionWithSimpleTaskSystem")">Introduction to ASP.NET Boilerplate with Simple Task System application</a>
    </p>
</div>