@{
    ViewBag.Title = "Introduction to ASP.NET Boilerplate";
    ViewBag.CurrentPage = "Documents";
}

<p>This document is moved to <b>CodeProject</b>. Click to read the article: <a href="http://www.codeproject.com/Articles/768664/Introduction-to-ASP-NET-Boilerplate">http://www.codeproject.com/Articles/768664/Introduction-to-ASP-NET-Boilerplate</a></p>