@{
    ViewBag.CurrentPage = "About";
}
<div>
    <h2><img src="~/images/abp-logo.png" style="padding-right: 10px;" />About ASP.NET Boilerplate</h2>
    <p>
        ASP.NET Boilerplate is a web application framework developed by <a href="http://www.halilibrahimkalkan.com" target="_blank">Halil İbrahim Kalkan</a>.
        It's a is a starting point for new web applications with best practices and most popular tools!
    </p>
    <p>See on github: <a href="https://github.com/aspnetboilerplate">https://github.com/aspnetboilerplate</a>.</p>
</div>